body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-image: url("../img/fondo.crimen.jpg");
    color: #ffffff;
    font-size: 25px;
    font-family: 'Courier New', monospace;
    margin-top: 0;
    margin-bottom: 15px;
    }
h1{
     font-family:'Share Tech Mono', monospace;
     color: #a80028;
     text-transform: uppercase;
     font-size: 60px;
     margin-bottom: 5px;
}

.img-error {
    width: 500px;
    border-radius: 20px;
    }

.boton-404 {
    padding: 12px 20px;
    background-color: #a80028;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
   }

