body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-image: url("../img/fondo.crimen.jpg");
    color: #ffffff;
    font-size: 15px;
    font-family: 'Courier New', monospace;
    margin-top: 0;
    margin-bottom: 15px;
    }
h2 {
    text-align: center;
    font-size: 2rem;
    font-family:'Share Tech Mono', monospace;
    color: #fcfafa;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    margin-bottom: 30px;
    letter-spacing: 2px;
}

img{
    border-radius: 20px;
}

.mensaje-confirmacion {
    text-align: center;
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgba(20, 0, 0, 0.6);
    border: 1px solid #990000;
    border-radius: 12px;
}

.boton-a {
    font-size: 1.5rem;
    padding: 12px 20px;
    background-color: #a80028;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
   }
