.grid-evidencia {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap: 30px;
   justify-items: center; 
}

.ira {
   grid-column: 1 / 3;      
   justify-self: center;    
}

.pecado {
   background-color: rgba(20, 0, 0, 0.7);
   border: 1px solid #770000;
   border-radius: 15px;
   box-shadow: 0 0 25px rgba(255, 0, 0, 0.15);
   overflow: hidden;
   text-align: center;
   padding: 20px;
   transition: all 0.4s ease;
}

.pecado:hover {
   transform: translateY(-5px) scale(1.03);
   box-shadow: 0 0 35px rgba(255, 0, 0, 0.4);
}

.pecado h3 {
   color: #ff3333;
   font-size: 1.8rem;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   margin-bottom: 15px;
   text-shadow: 0 0 8px #a00;
}

.pecado img {
   width: 100%;
   height: 220px;
   object-fit: cover;
   border-radius: 10px;
   margin-bottom: 15px;
   transition: transform 0.5s ease, filter 0.5s ease;
}

.pecado img:hover {
   transform: scale(1.05);
   filter: brightness(1.1) contrast(1.2);
}

.pecado p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
  font-style: italic;
  margin-top: 10px;
  text-shadow: 0 0 4px #200;
}
.gula h3 {
  color: #ff5555;
 }
.avaricia h3 {
  color: #ffbb33;
  }
.pereza h3 {
  color: #999;
  }
.lujuria h3 {
  color: #ff66cc;
 }
.envidia h3 { 
  color: #66ff99; 
}
.soberbia h3 { 
  color: #ff9966;
 }
.ira h3 { 
  color: #ff0000;
 }
